
name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   
  workflow_dispatch:      

jobs:
  snake:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@master
        with:
          github_user_name: lucsducks
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake-dark.svg?palette=github-dark
